@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #feca57;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
form {
  background: #ff6b6b;
  border-radius: 2rem;
  box-shadow: 0px 0px 19px #7e4949;
  width: 60%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
label {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  margin-right: 2rem;
  width: 10%;
  padding: 1.5rem 2rem;
  outline: none;
  border: none;
  font-size: 2.4rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
select {
  padding: 1.5rem 1rem;
  outline: none;
  border: none;
  font-size: 2.4rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
[type="submit"] {
  width: 16%;
  margin-top: 3rem;
  background: #222f3e;
  color: #fff;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
p {
  font-size: 4rem;
  margin-top: 2rem;
}

.button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: #222f3e;
  border: none;
  color: #fff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

.button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 1px #717171;
  color: #000;
}

.button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.button:focus {
  outline: 0;
}

/* ==============Mobile devices ====================== */

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  body {
    background: #feca57;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
  }
  form {
    background: #ff6b6b;
    border-radius: 2rem;
    box-shadow: 0px 0px 19px #7e4949;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
  input {
    width: 79%;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
  }
  [type="submit"] {
    width: 46%;
    margin-top: 3rem;
    background: #222f3e;
    color: #fff;
    cursor: pointer;
  }
  select {
    width: 80%;
  }
  .inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  label {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
  }
  p {
    font-size: 3rem;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }
}
